.image1{
    max-height: 65%;
    max-width: 75%;
    align-content: center;
    padding-top: 20px;
}
.image2{
    max-height: 80%;
    max-width: 80%;
    align-content: center;
    top: 10px;
    padding-top: 20px;

}
.breaker{
    background-color: dimgray;
}
.sachin{
    max-height: 950px;
    width: 50%;
    float: left;
    text-align: justify;
    word-wrap: normal;
    clear: both;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.deepti{
    width: 50%;
    max-height: 730px;
    float: left;
    text-align: justify;
    border-left: 2px solid;
    border-left-color: #008CBA;
    word-wrap: normal;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}
@media only screen and (min-width: 1440px){
    
}
@media only screen and (max-width: 1023px){
    
}
@media only screen and (max-width: 767px){
    .sachin{
        width: 100%;
        border-bottom: 2px solid;
        border-bottom-color: #008CBA;
        height: 100;
    }
    .deepti{
        width: 100%;
        border-top: 2px solid;
        border-top-color: #008CBA;
        height: 100%;
}
@media only screen and (max-width: 419px){
    .sachin{
        width: 100%;
        border-bottom: 2px solid;
        border-bottom-color: #008CBA;
    }
    .deepti{
        width: 100%;
        border-top: 2px solid;
        border-top-color: #008CBA;
    }
}
