.image{
    max-height: 100%;
    max-width: 100%;
}
.breaker{
    background-color: dimgray;
}
@media only screen and (min-width: 1440px){
    
}
@media only screen and (max-width: 1023px){
    
}
@media only screen and (max-width: 767px){
    
}
@media only screen and (max-width: 419px){
<<<<<<< HEAD
    .article{
        max-width: 100%;                
    }
    .logo {
        word-wrap:break-word;
        padding-left: 0%;
        float: left;
    }
}
    
=======
    
}
>>>>>>> e46c8bafef6d071ff1673b4caf3b9a72a414e3fd
