.image{
    max-height: 100%;
    max-width: 100%;
}
.breaker{
    background-color: rgba(74, 74, 74, 1);
    animation: 
}
.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}
.address{
    float: left;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 26px;
}
.map{
    float: left;
    padding-bottom: 50px;
    padding-left: 10px;
    height: 380px;
    width: 420px;
}
.tagline{
    word-wrap: normal;
    font-size: 48px;
}
.video{
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
}
button:hover{
	background: #4CAF50;
	color: #2f3036;
}
@media only screen and (min-width: 1440px){
    .map, .address{
        align-content: center;
    }
    .video{
        height: 315px;
        width: 550px;
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 1024px){
    .address{
        align-content: center;
        padding-left: 120px;
    }
    .map{
        align-content: center;
        padding-left: 120px;
        height: 320px;
        width: 560px;
    }
    .video{
        height: 315px;
        width: 550px;
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 768px){
    .address{
        align-content: center;
        padding-left: 200px;
    }
    .map{
        align-content: center;
        padding-left: 150px;
        height: 380px;
        width: 590px;
    }
    .tagline{
        font-size: 28px;
    }
    .video{
        height: 315px;
        width: 550px;
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 479px){
    .address{
        align-content: center;
        padding-left: 15px;
    }
    .map{
        align-content: center;
        padding-left: 15px;
        height: 250px;
        width: 400px;
    }
    .tagline{
        font-size: 28px;
    }
    .video{
        height: 250px;
        width: 440px;
        padding-bottom: 30px;
    }
}
