*{
    margin:0 auto;
    box-sizing: border-box;
    padding: 0px;
}
.head-wrapper{
    margin: 0 auto;
    padding: 0px;
    height: inherit;
    max-width: 70%;
    background-color: inherit;
    overflow: hidden;
    clear: both;
}
.header {
    height: 182px;
    background-color: whitesmoke;
    text-align: left;
    overflow: hidden;
}
.logo {
    top: 35px;
    left: 6px;
    word-wrap:break-word;
    float: left;
}
.logofirst{
    line-height: 0.9em;
    font-family: helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
    font-size: 63px;
    color: #868686;
}
.logosecond{
    line-height: 0.9em;
    font-size: 63px;
    font-family: helvetica-w01-light, helvetica-w02-light, helvetica-lt-w10-light, sans-serif;
    left: 0;
    padding-top: 4px; 
    color: #868686;
}
.logothird{
    line-height: 0.9em;
    font-size: 20px;
    font-family: helvetica-w01-light, helvetica-w02-light, helvetica-lt-w10-light, sans-serif;
    color: #868686;
}
.logoplus{
    width: 47px;
    height: 47px;
    object-fit: fill;
}
.navigation{
    display:inline-block;
    text-align: center;
    position:relative;
    padding-bottom: 10px;
    padding-top: 90px;
    padding-left: 10px;
    
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:whitesmoke;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #008CBA;}

ul.topnav li a.active {background-color: #008CBA;}

ul.topnav li.right {float: right;}

.topphone{
    position: relative;
    float: right;
    margin: auto;
    padding-top: 64px;
    padding-right: 8px;
    word-wrap: break-word;
}
.footer {
    position: relative;
    padding: 1rem;
    height: 182px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: auto;
}
.footer-wrapper{
    margin: 0 auto;
    padding: 0px;
    display: inline-block;
    max-width: 70%;
    background-color: transparent;
    overflow: hidden;
    clear: both;
}
.bottomphone{
    position: relative;
    display: inherit;
    float: left;
}
.bottomemail{
    position: relative;
    display: inherit;
    float: left;
    padding-left: 30px;
    padding-top: 1rem;
}
.bottomsocial{
    position: relative;
    display: inherit;
    float: right;
    padding-top: 1rem;
    padding-left: 30px;
}
.article{
    margin: 0 auto;
    padding: 0px;
    max-width: 70%;
    background-color: white;
    overflow: hidden;
    clear: both;
}

@media only screen and (min-width: 1440px){
    .article, .head-wrapper, .footer-wrapper{
        max-width: 980px;
    }
}
@media only screen and (max-width: 1440px){
    .article, .head-wrapper, .footer-wrapper{
        max-width: 980px;
    }
}
@media only screen and (max-width: 1024px){
    .article, .head-wrapper, .footer-wrapper{
        max-width: 70%;
    }
}
@media only screen and (max-width: 768px){
    .article, .head-wrapper, .footer-wrapper{
        max-width: 96%;
    }
    .bottomphone, .bottomemail, .bottomsocial{
        width: 100%;
        padding-left: 0px;
        padding-top: 15px;
    }
}
@media only screen and (max-width: 479px){
    .logo{
        word-wrap: normal;
    }
    .article, .head-wrapper, .footer-wrapper{
        max-width: 100%;                
    }
    .bottomphone, .bottomemail, .bottomsocial{
        width: 100%;
        padding-left: 0px;
        padding-top: 15px;
    }
}

.font_1 {font:normal normal normal 16px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#868686;}
.font_2 {font:normal normal normal 49px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#868686;}
.font_3 {font:normal normal normal 55px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#868686;}
.font_4 {font:normal normal normal 49px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#868686;}
.font_5 {font:normal normal normal 33px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#868686;}
.font_6 {font:normal normal normal 25px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#868686;}
.font_7 {font:normal normal normal 19px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#868686;}
.font_8 {font:normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#868686;}
            
.color_0 {color:#FFFFFF;}
.backcolor_0 {background-color:#FFFFFF;}
.color_1 {color:#FFFFFF;}
.backcolor_1 {background-color:#FFFFFF;}
.color_2 {color:#000000;}
.backcolor_2 {background-color:#000000;}
.color_3 {color:#ED1C24;}
.backcolor_3 {background-color:#ED1C24;}
.color_4 {color:#0088CB;}
.backcolor_4 {background-color:#0088CB;}
.color_5 {color:#FFCB05;}
.backcolor_5 {background-color:#FFCB05;}
.color_6 {color:#727272;}
.backcolor_6 {background-color:#727272;}
.color_7 {color:#B0B0B0;}
.backcolor_7 {background-color:#B0B0B0;}
.color_8 {color:#FFFFFF;}
.backcolor_8 {background-color:#FFFFFF;}
.color_9 {color:#727272;}
.backcolor_9 {background-color:#727272;}
.color_10 {color:#B0B0B0;}
.backcolor_10 {background-color:#B0B0B0;}
.color_11 {color:#FFFFFF;}
.backcolor_11 {background-color:#FFFFFF;}
.color_12 {color:#F3F3F3;}
.backcolor_12 {background-color:#F3F3F3;}
.color_13 {color:#AAA8A8;}
.backcolor_13 {background-color:#AAA8A8;}
.color_14 {color:#868686;}
.backcolor_14 {background-color:#868686;}
.color_15 {color:#4A4A4A;}
.backcolor_15 {background-color:#4A4A4A;}
.color_16 {color:#ACCFE5;}
.backcolor_16 {background-color:#ACCFE5;}
.color_17 {color:#87B1CB;}
.backcolor_17 {background-color:#87B1CB;}
.color_18 {color:#588FB1;}
.backcolor_18 {background-color:#588FB1;}
.color_19 {color:#005D96;}
.backcolor_19 {background-color:#005D96;}
.color_20 {color:#002E4B;}
.backcolor_20 {background-color:#002E4B;}
.color_21 {color:#F2B8A2;}
.backcolor_21 {background-color:#F2B8A2;}
.color_22 {color:#E69373;}
.backcolor_22 {background-color:#E69373;}
.color_23 {color:#D93D00;}
.backcolor_23 {background-color:#D93D00;}
.color_24 {color:#912900;}
.backcolor_24 {background-color:#912900;}
.color_25 {color:#481400;}
.backcolor_25 {background-color:#481400;}
.color_26 {color:#9DE0EB;}
.backcolor_26 {background-color:#9DE0EB;}
.color_27 {color:#6CC8D8;}
.backcolor_27 {background-color:#6CC8D8;}
.color_28 {color:#00A7C4;}
.backcolor_28 {background-color:#00A7C4;}
.color_29 {color:#006F83;}
.backcolor_29 {background-color:#006F83;}
.color_30 {color:#003841;}
.backcolor_30 {background-color:#003841;}
.color_31 {color:#FAEEA7;}
.backcolor_31 {background-color:#FAEEA7;}
.color_32 {color:#F5E37C;}
.backcolor_32 {background-color:#F5E37C;}
.color_33 {color:#F0CC02;}
.backcolor_33 {background-color:#F0CC02;}
.color_34 {color:#A08802;}
.backcolor_34 {background-color:#A08802;}
.color_35 {color:#504401;}
.backcolor_35 {background-color:#504401;}

.s4screenWidthBackground {position:relative;top:0;right:0;bottom:0;left:0;}
.s4[data-state~="mobileView"] {position:relative !important;}
.s4[data-state~="fixedPosition"] {position:fixed !important;left:auto !important;z-index:50;}
.s4[data-state~="fixedPosition"]
.s4_footer {top:auto;bottom:0;}
.s4bg {position:relative;top:0;right:0;bottom:0;left:0;}
.s4inlineContent {position:relative;top:0;right:0;bottom:0;left:0;}
