.image{
    max-height: 100%;
    max-width: 100%;
}
.imagediv{
    position: relative;
    max-height:377px;
}
.breaker{
    background-color: dimgray;
    width: 100%;
}
.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}
input[type=text], select, input[type=date], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position: relative;
    bottom: 50px;
    top: 0px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #008CBA;
    color: white;
}

.modal-body {padding: 2px 16px;}

.container {
}

@media only screen and (max-width: 1440px){
    .imagediv{
        max-height: 368px;
    }
    .breaker{
    background-color: dimgray;
    width: 100%;
}
}
@media only screen and (max-width: 1023px){
    .imagediv{
        max-height: 320px;
    }
    .breaker{
    background-color: dimgray;
    width: 100%;
}
}
@media only screen and (max-width: 767px){
    .imagediv{
        max-height: 321px;
    }
    .breaker{
    background-color: dimgray;
    width: 100%;
}
}
@media only screen and (max-width: 419px){
    .article, .breaker{
        max-width: 100%;                
    }
    .logo {
        word-wrap:break-word;
        padding-left: 0%;
        float: left;
    }
}
