.image{
    max-height: 100%;
    max-width: 100%;
}
.imagediv{
    position: relative;
    max-height:377px;
}
.breaker{
    background-color: dimgray;
    width: 100%;
}
@media only screen and (max-width: 1440px){
    .imagediv{
        max-height: 368px;
    }
    .breaker{
    background-color: dimgray;
    width: 100%;
}
}
@media only screen and (max-width: 1023px){
    .imagediv{
        max-height: 320px;
    }
    .breaker{
    background-color: dimgray;
    width: 100%;
}
}
@media only screen and (max-width: 767px){
    .imagediv{
        max-height: 321px;
    }
    .breaker{
    background-color: dimgray;
    width: 100%;
}
}
@media only screen and (max-width: 419px){
    .article, .breaker{
        max-width: 100%;                
    }
    .logo {
        word-wrap:break-word;
        padding-left: 0%;
        float: left;
    }
}
